.button{
    background-color: red;
}

.question{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.employee-display{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.employee-display p {
    margin: 0px;
}

#clear-cache-button{
    background-color: red;
}

#job-apply-button{
    background-color: lightblue;
}

#get-job-button{
    background-color: lightblue;
}